<div class="row">
  <div class="col text-center">
    <h1 class="text-primary">Detailed IQ Gateway Requests</h1>
  </div>
</div>

<div class="row mt-1">
  <div class="col">
    <button class="btn  btn-link" routerLink="/detail/inverters"> Inverters</button>
  </div>
  <div class="col">
    <button class="btn  btn-link" routerLink="/detail/meters"> Meters</button>
  </div>
  <div class="col">
    <button class="btn  btn-link" routerLink="/detail/meterreadings">Meter Readings</button>
  </div>
  <div class="col">
    <button class="btn  btn-link" routerLink="/detail/status">Status</button>
  </div>
  <div class="col">
    <button class="btn  btn-link" routerLink="/detail/consumption">Consumption</button>
  </div>
</div>


<div class="row spinner-container-row">
  <div class="col text-center">
    <div class="d-flex justify-content-center" *ngIf="spinnerMessage">
      <div class="spinner-border text-primary " role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="text-primary ms-2" role="status">
        <span class="spinner-message">{{spinnerMessage}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row error-message">
  <div class="col text-danger">
    <span>{{errorMessage}}</span>
  </div>
</div>

<div class="row mt-1">
  <div class="col">
    <button class="btn btn-primary btn small" *ngIf="selectedRequestType == RequestType.inverters"
      (click)="getInverters()">Get Inverters</button>
    <button class="btn btn-primary btn small" *ngIf="selectedRequestType == RequestType.meters"
      (click)="getMeters()">Get Meters</button>
    <button class="btn btn-primary btn small" *ngIf="selectedRequestType == RequestType.meterreadings"
      (click)="getMeterReadings()">Get Meter Readings</button>
    <button class="btn btn-primary btn small" *ngIf="selectedRequestType == RequestType.status"
      (click)="getStatus()">Get Status</button>
    <button class="btn btn-primary btn small" *ngIf="selectedRequestType == RequestType.consumption"
      (click)="getConsumption()">Get Consumption</button>
  </div>

</div>

<!-- inveters -->
<div class="" *ngIf="selectedRequestType == RequestType.inverters">
  <div class="row ">
    <div class="col text-center">
      <h3>Inverter Details</h3>
    </div>
  </div>
  <!-- inveters detail -->
  <app-inverters-detail [inverters]="inverters"></app-inverters-detail>
</div>


<!-- Status -->
<div class="" *ngIf="selectedRequestType == RequestType.status">
  <div class="row mt-2">
    <div class="col text-center">
      <h3>Status Details</h3>
    </div>
  </div>
<app-status-detail
[status]="status"
>
</app-status-detail>
</div>


<!-- meters -->
<div class="" *ngIf="selectedRequestType == RequestType.meters">
  <div class="row ">
    <div class="col text-center">
      <h3>Meters Details</h3>
    </div>
  </div>
  <app-meters-detail [meters]="meters">
  </app-meters-detail>
</div>

<!-- meter readings -->
<div class="" *ngIf="selectedRequestType == RequestType.meterreadings">
  <div class="row ">
    <div class="col text-center">
      <h3>Meter Reading Details</h3>
    </div>
  </div>
<app-meter-readings-detail
[meterReadings]="meterReadings">

</app-meter-readings-detail>
</div>

<!-- consumption -->
<div class="" *ngIf="selectedRequestType == RequestType.consumption">
  <div class="row ">
    <div class="col text-center">
      <h3>Consumption Details</h3>
    </div>
  </div>
  <!-- consumption detail -->
  <app-consumption-detail [consumptions]="consumptions">
  </app-consumption-detail>
</div>

<div class="row mt-5 " *ngIf="rawData">
  <div class="col ">
    <button class="btn btn-primary btn-small" *ngIf="isRawDataShowing"
      (click)="isRawDataShowing = !isRawDataShowing">Hide Raw Data</button>
    <button class="btn btn-primary btn-small" *ngIf="!isRawDataShowing"
      (click)="isRawDataShowing = !isRawDataShowing">Show Raw Data</button>
  </div>
</div>
<div class="row mt-2" *ngIf="isRawDataShowing">
  <div class="col ">
    <span>{{rawData}}</span>
  </div>
</div>
