USE [master]
GO
/****** Object:  Database [IQ_Test]    Script Date: 7/2/2023 3:21:56 PM ******/
CREATE DATABASE [IQ_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IQ_Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IQ_Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IQ_Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IQ_Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IQ_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IQ_Test]
GO
/****** Object:  Table [dbo].[IQResponse]    Script Date: 7/2/2023 3:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IQResponse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResponseType] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[InverterLastReportDate] [datetime] NULL,
	[MeterReadingTimestamp] [datetime] NULL,
	[MetersLastUpdate] [datetime] NULL,
	[ConsumptionReportCreatedAt] [datetime] NULL,
	[JsonData] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_IQResponse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
