<h1>Enphase IQ Gateway Client</h1>
<p>This site provides the ability to talk to the Enphase IQ Gateway.</p>

<p>Enphase IQ Gateway is a box that solar panel systems use to monitor the generation and consumption of power.</p>
<p>You can submit requests to the IQ Gateway and receive JSON responses in a browser. For that you'll need an
  authorization token. That is explained <a
    href="https://enphase.com/download/accessing-iq-gateway-local-apis-or-local-ui-token-based-authentication"
    target="_blank">here</a>.</p>

<p>What this web client does is allow you to make the same requests, and it displays the responses in a more readable,
  formatted way.</p>
<p>You'll still need to <a
    href="https://enphase.com/download/accessing-iq-gateway-local-apis-or-local-ui-token-based-authentication"
    target="_blank">obtain an auth token</a>, and set it in the appsettings.json configuration file at the root of this
  site.</p>



<div class="row">
  <div class="col">
    <a class="nav-link text-primary" [routerLink]="['/detail']">IQ Requests </a>

  </div>
  <div class="col">
    - Submit Requests on demand

  </div>
  <div class="col-6">


  </div>
</div>


<div class="row">
  <div class="col">
    <a class="nav-link text-primary" [routerLink]="['/consumptions']">Consumptions </a>

  </div>
  <div class="col">
    - List of historical consumption items

  </div>
  <div class="col-6">


  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <p>You can get pretty much this same data online at <a href="https://enlighten.enphaseenergy.com/"
        target="_blank">enlighten.enphaseenergy.com</a>. The reason I wrote this is that often I find that the online
      service is showing me data from hours behind.</p>
    <p>Other current features: Storing the responses in a database (currently a MS-SQL Server db, either local or out in Azure cloud), and a console app that serves as a data collector, repeatedly requesting responses from IQ Gateway on a periodic basis. (like every 5 minutes, which is how often the values are updated)</p>

  </div>
</div>
