<div class="row " *ngFor="let item of consumptions">


  <div class="row mt-4">
    <div class="col ">
      <label>Report Type</label>
    </div>
    <div class="col ">
      <label class="value">{{item.reportType}}</label>
    </div>

  </div>

  <div class="row ">
    <div class="col ">
      <label>Created At</label>
    </div>
    <div class="col ">
      <label class="value">{{formatDate(item.createdAt)}}</label>
    </div>

  </div>
  <div class="row mt-1">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Current Watts</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.currW}}</label>
    </div>
  </div>
  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Actutal Power</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.actPower}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Apparent Power</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.apprntPwr}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Reactive Power</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.reactPwr}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative Watt Hours Delivered</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.whDlvdCum}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative Watt Hours Received</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.whRcvdCum}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative varh Lag</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.varhLagCum}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative varhLead Lag</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.varhLeadCum}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative vah</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.vahCum}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative rms Voltage</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.rmsVoltage}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative rms Current</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.rmsCurrent}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative Power Factor</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.pwrFactor}}</label>
    </div>
  </div>

  <div class="row ">
    <div class="col-3 "></div>
    <div class="col ">
      <label>Cumulative Frequency Hz</label>
    </div>
    <div class="col ">
      <label class="value">{{item.cumulative.freqHz}}</label>
    </div>
  </div>




  <div class="row mt-1">
    <div class="col-6 "></div>
    <div class="col ">
      <label>Lines</label>
    </div>
    <div class="row mt-2" *ngFor="
    let line of item.lines
    let lineIndex = index
    ">
      <div class="col-6 "></div>
      <label>Line&nbsp;{{lineIndex + 1}}</label>
      <div class="col ">
        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Current Watts</label>
          </div>
          <div class="col ">
            <label class="value">{{line.currW}}</label>
          </div>

        </div>


        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Actual Power</label>
          </div>
          <div class="col ">
            <label class="value">{{line.actPower}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Apparrent Power</label>
          </div>
          <div class="col ">
            <label class="value">{{line.apprntPwr}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Reactive Power</label>
          </div>
          <div class="col ">
            <label class="value">{{line.reactPwr}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Cumulative Watt Hours Delivered</label>
          </div>
          <div class="col ">
            <label class="value">{{line.whDlvdCum}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Cumulative Watt Hours Received</label>
          </div>
          <div class="col ">
            <label class="value">{{line.whRcvdCum}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Cumulative varhLag</label>
          </div>
          <div class="col ">
            <label class="value">{{line.varhLagCum}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>varhLagCum varhLead</label>
          </div>
          <div class="col ">
            <label class="value">{{line.varhLeadCum}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>varhLagCum vah</label>
          </div>
          <div class="col ">
            <label class="value">{{line.vahCum}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>rms Voltage</label>
          </div>
          <div class="col ">
            <label class="value">{{line.rmsVoltage}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>rms Current</label>
          </div>
          <div class="col ">
            <label class="value">{{line.rmsCurrent}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Power Factor</label>
          </div>
          <div class="col ">
            <label class="value">{{line.pwrFactor}}</label>
          </div>
        </div>

        <div class="row ">
          <div class="col-3 "></div>
          <div class="col ">
            <label>Frequency Hz</label>
          </div>
          <div class="col ">
            <label class="value">{{line.freqHz}}</label>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
