<div class="row">
  <div class="col text-center">
    <h1 class="text-primary">All History</h1>
  </div>
</div>

<!-- <div class="row mt-5 " >
  <div class="col ">
    <button class="btn btn-primary btn-small"  (click)="getConsumptionHistory()">Get Consumption History</button>

  </div>
</div> -->
<div class="row">
  <div class="col">
    <table
      class="table table-bordered table.responsive-sm"
      *ngIf="iqHistoryModelList"
    >
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Type</th>

      </tr>
      <tr *ngFor="let item of iqHistoryModelList">
        <td>
          <a  routerLink="/dbdetail/{{ item.id }}"
          >{{item.id}}</a>
        </td>
        <td>
          <span >{{item.createDate}}</span>

        </td>
        <td>
          <span >{{item.responseType}}</span>

        </td>

      </tr>
</table>
<app-detail-modal ></app-detail-modal>
